*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

:root {
    --lavender: hsl(211.3, 21.5%, 40%);
    --tan: hsl(50, 100%, 90%);
    --gray: hsl(0, 0%, 30%);
    --brown: hsl(41, 79%, 22%);
    --yellow: hsl(35, 89%, 70%);
    --ff: "Oswald", sans-serif;
}

body {
    min-height: 100%;
    background-color: var(--tan);
    font-family: var(--ff);
    font-weight: 300;
    color: var(--gray);
}

a {
    text-decoration: none;
    color: var(--yellow);
    font-family: var(--ff);
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--yellow);
}

span.big {
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 500;
}

nav {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 2rem;
    font-size: 1.4rem;
}

nav a {
    opacity: .8;
}

a[aria-current="page"] {
    opacity: 1;
    font-weight: 900;
}

.hero__image {
    overflow: hidden;
}

.hero__image img {
    position: relative;
    margin-top: 60px;
    right: -30vw;
    width: 80vw;
    transform: rotate(-15deg);
}

.lavender__image {
    overflow: hidden;
}

.lavender__image img {
    position: absolute;
    top: 40vw;
    width: 30vw;
    mix-blend-mode: multiply;
}

.mission {
    position: relative;
    margin-top: 0rem;
    padding-inline: 1rem;
    margin-bottom: 2rem;
}

.mission p {
    padding: 1rem;
}

.products {
    position: relative;
    margin-top: 60px;
    min-height: 60vh;
}

.products p {
    padding: 1rem;
}

.products img {
    width: 20vh;
    float: left;
    margin-right: 2rem;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--brown);
    padding: 2rem;
    color: var(--tan);
    text-align: center;
}

footer ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer em {
    font-weight: bold;
    color: var(--yellow);
}

input {
    display: block;
    background-color: var(--tan);
    border: 2px solid var(--yellow);
    color: var(--brown);
    margin-top: 1rem;
    padding: .2rem;
    width: 100%;
    border-radius: .5rem;
}

button {
    display: block;
    background-color: var(--brown);
    color: var(--tan);
    border: 2px solid var(--yellow);
    margin: 8px auto;
    padding-inline: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

@media (hover: hover) {
    
}

@media (orientation: landscape) {
    .hero__image img {
        width: 60vh;
    }
}

@media only screen and (min-width: 600px) {
    .hero__image img {
        width: 50vh;
        position: relative;
        left: 60%;
        transform: rotate(-15deg);
    }
    .mission {
        position: absolute;
        top: 60px;
        right: 40%;
        width: 400px;
    }
    input {
        max-width: 300px;
        margin: 1rem auto 0;
    }
}



@media only screen and (min-width: 900px) {
}

@media (prefers-color-scheme: dark) {
  
}