*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

:root {
    --lavender: hsl(211.3, 21.5%, 40%);
    --tan: hsl(50, 100%, 90%);
    --gray: hsl(0, 0%, 20%);
    --brown: hsl(41, 79%, 22%);
    --yellow: hsl(35, 89%, 60%);
    --ff: "Oswald", sans-serif;
}

body {
    min-height: 100%;
    background-color: var(--tan);
    font-family: var(--ff);
    font-weight: 300;
    color: var(--gray);
}

a {
    text-decoration: none;
    color: var(--yellow);
    font-family: var(--ff);
}

.mission h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--brown);
    line-height: 3.7rem;
}

span.big {
    color: var(--yellow);
    font-size: 2rem;
    font-weight: 500;
}

nav {
    z-index: 999;
    position: absolute;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 2rem;
    font-size: 1.4rem;
}

nav a {
    opacity: .8;
}

a[aria-current="page"] {
    opacity: 1;
    font-weight: 900;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 1rem;
    margin-top: 60px;  
    padding: 1rem;
    background-image: linear-gradient(
        190deg,
        var(--tan),
        var(--yellow)
    );
}

.hero {
    width: 100%;
}

.lavender__image {
    overflow: hidden;
}

.lavender__image img {
    position: absolute;
    top: 40vw;
    width: 30vw;
    mix-blend-mode: multiply;
}

.mission {
    text-align: center;
    padding: 1rem;
    font-weight: 350;
    font-size: 1.2rem;
}

.questions-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(Assets/lomig-HHpRh6rNQMo-unsplash.webp);
    background-size: cover;
    background-position: center;
    padding-bottom: 2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5);
}

.questions-wrapper::after {
    z-index: 2;
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 0;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5),
        transparent 25%,
        transparent 75%,
        rgba(0, 0, 0, 0.5)
    );
}

.questions__title {
    z-index: 3;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: 3rem;
    padding-top: 2rem;
    color: var(--tan);
    width: 50vw;
    text-shadow: 
        0 1px 30px rgba(0, 0, 0, 0.5),
        0 1px 15px rgba(0, 0, 0, 0.5);
    ;
}

.fa-circle-question {
    font-size: 4rem;
    float: left;
    margin-right: 1rem;
    text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.2);
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.question-card-slider {
    position: relative;
    width: 100vw;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 260px;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scrollbar-color: var(--gray) transparent;
    scrollbar-width: thin;
}

.question-card {
    z-index: 3;
    display: inline-block;
    position: relative;
    width: 240px;
    background-color: hsla(35, 90%, 60%, 0.9);
    height: 300px;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 10px;
    box-shadow: 0 0 7px 0 #4d4d4d59;
    backdrop-filter: blur(8px);
}

.question-card__title {
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--tan);
    line-height: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0 .2rem .2rem rgba(0, 0, 0, 0.2);
}

.question-card p {
    position: relative;
    font-weight: 400;
}

.contact-wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    gap: 1rem;
    padding: 2rem;
    background-image: linear-gradient(
        190deg,
        var(--yellow),
        var(--tan)
    );
}

.contact__title {
    color: var(--brown);
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    line-height: 3rem;
    width: 300px;
    background-color: var(--yellow);
    border-radius: 50%;
}

.contact__content {
    width: 80vw;
    max-width: 500px;
    font-weight: 400;
}

.contact__content a {
    display: inline-block;
    background-color: var(--brown);
    color: var(--yellow);
    padding: 1px 7px;
    border-radius: 8px;
}

.products {
    position: relative;
    margin-top: 60px;
    min-height: 60vh;
}

.products p {
    padding: 1rem;
}

.products img {
    width: 20vh;
    float: left;
    margin-right: 2rem;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--brown);
    padding: 2rem;
    color: var(--tan);
    text-align: center;
}

footer ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer em {
    font-weight: bold;
    color: var(--yellow);
}

input {
    display: block;
    background-color: var(--tan);
    border: 2px solid var(--yellow);
    color: var(--brown);
    margin-top: 1rem;
    padding: .2rem;
    width: 100%;
    border-radius: .5rem;
}

button {
    display: block;
    background-color: var(--brown);
    color: var(--tan);
    border: 2px solid var(--yellow);
    margin: 8px auto;
    padding-inline: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

@media (hover: hover) {
    
}

@media only screen and (min-width: 600px) {
    .hero-wrapper{
        width: 100vw;
    }
    .hero {
        width: 30%;
    }
    .hero__image {
        width: 40vw;
    }
    .hero__image img {
        width: 400px;
    }
    .mission {
        width: 60vw;
        max-width :600px;
    }
    .mission h1 {
        font-size: 4rem;
    }
    input {
        max-width: 300px;
        margin: 1rem auto 0;
    }
}

@media (prefers-color-scheme: dark) {
  
}